<mat-card>
  <mat-card-header>
    <div class="icon-style">
      <mat-icon class="span-style" color="primary">send</mat-icon>
      <mat-card-title class="span-style">Adresser l'article à des juges</mat-card-title>
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-accordion class="example-headers-align">
      <div>
          <mat-grid-list cols="3" rowHeight="100px">
            <mat-grid-tile  colspan="2" rowspan="1">
              <mat-form-field class="style-full-width">
                <mat-label>Juge</mat-label>
                <mat-select  [(ngModel)]="juges" name="juge" multiple #juge>
                  <mat-option *ngFor="let inter of this.listJuges" [value]="inter">{{inter.nom}}</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
              <button style="margin-left: 100px;" disabled="{{juge.empty}}" mat-raised-button color="primary" type="submit" (click)="adresser()">Valider</button>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions align="end">

  </mat-card-actions>
</mat-card>

